<div id="header">
    <div class="global-header">
        <div class="container">
            <div class="nav-parent">
                <a href="http://www.ucla.edu">UCLA.edu</a>
            </div>
            <!-- <div class="nav-utilities">
          <a href="#">UCLA Logon</a>
        </div> -->
        </div>
    </div>

    <header class="site-header">
        <nav class="navbar navbar-default navbar-toggleable-md">
            <div class="container navbar-container">
                <div class="navbar-header">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="/{{ directory }}/images/logo-ucla-its.png" alt="Alt Text"></a>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                    <nav class="nav-wrap">
                        <div class="container">
                            <ul class="nav-primary yamm nav navbar-nav">
                                <li class="navbar-default__item">
                                    <a href="#" data-toggle="dropdown" class="dropdown nav-link navbar-default__link" aira-expanded="true">Employee Services <i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu ">
                                        <li><a href="#" class=" dropdown-menu__link">For Students</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">For Faculty &amp; Staff</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">For Guests</a></li>
                                        <li><a href="#" class="btn btn-primary dropdown-menu__link">Get Started Now</a></li>
                                    </ul>

                                </li>
                                <li class="navbar-default__item">
                                    <a href="#" data-toggle="dropdown" class="dropdown nav-link navbar-default__link" aira-expanded="true">Work Tools <i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu ">
                                        <li><a href="#" class=" dropdown-menu__link">Accounts &amp; Access</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Networks &amp; Connectivity</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Email Calendaring &amp; Collaboration</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Enterprise Applications</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Support &amp; Training</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Platforms &amp; Infrastructure</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Business Intelligence &amp; Reporting</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">IT Security</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Phone, TV &amp; Radio</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Web Development &amp; Hosting</a></li>
                                        <li><a href="#" class="btn btn-primary dropdown-menu__link">Browse by Category</a></li>
                                        <li><a href="#" class="btn btn-primary dropdown-menu__link">All Services (A-Z)</a></li>
                                    </ul>

                                </li>
                                <li class="navbar-default__item">
                                    <a href="#" data-toggle="dropdown" class="dropdown nav-link navbar-default__link" aira-expanded="true">News <i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu ">
                                        <li><a href="#" class=" dropdown-menu__link">Tutorials &amp; FAQs</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Training Opportunities</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Bruin Online</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Contact Support</a></li>
                                        <li><a href="#" class="btn btn-primary dropdown-menu__link">Support &amp; Training Overview</a></li>
                                    </ul>

                                </li>
                                <li class="navbar-default__item">
                                    <a href="#" data-toggle="dropdown" class="dropdown nav-link navbar-default__link" aira-expanded="true">Administrative Units <i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu ">
                                        <li><a href="#" class=" dropdown-menu__link">IT Resources @ UCLA</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">About IT Services</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">IT Policies &amp; Practices</a></li>
                                        <li><a href="#" class="btn btn-primary dropdown-menu__link">IT @ UCLA Overview</a></li>
                                    </ul>

                                </li>
                                <li class="navbar-default__item">
                                    <a href="#" data-toggle="dropdown" class="dropdown nav-link navbar-default__link" aira-expanded="true">Contact Us <i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu ">
                                        <li><a href="#" class=" dropdown-menu__link">Tools &amp; Services</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Resources</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Policies</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Alerts</a></li>
                                        <li><a href="#" class=" dropdown-menu__link">Contact</a></li>
                                        <li><a href="#" class="btn btn-primary dropdown-menu__link">IT Security Overview</a></li>
                                    </ul>

                                </li>
                            </ul>

                        </div>
                    </nav>
                    <div class="utilities">
                        <div class="get-help">
                            <a href="#">Resources</a>
                            <a href="#">Contact</a>
                        </div>

                        <div class="search">
                            <form role="search">
                                <div class="form-group">
                                    <label class="sr-only" for="search-box">Search</label>
                                    <input id="search-box" type="search" class="form-control" placeholder="Search this site">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <img class="google-search-icon" src="/images/icon-google.png"><span class="caret"></span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <div class="search-choice">
                                                <div class="title">Where should we search?</div>
                                                <label>
                                                    <input class="search-type" type="radio" name="radioOptions" value="Search this site" checked="">Campus Services
                                                </label>
                                                <label>
                                                    <input class="search-type" type="radio" name="radioOptions" value="Search all ucla.edu">All of ucla.edu
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

    </header>
</div>


<div id="content" class="">

    <section class="main-content container">
        <div class="main-content-wrap ">


            <div class="page-navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a href="index.php">Home</a></li>
                    <li class="breadcrumb-item "><a href="#">IT @ UCLA</a></li>
                    <li class="breadcrumb-item last"><a href="#">About IT Services</a></li>
                </ol>
            </div>


            <div class="row sidebar-left">
                <div class="col-xl-9 push-xl-3 col-lg-8 push-lg-4">
                    <div class="juice">

                        <div class="page-header  ">
                            <h1 class="false">Products &amp; Services Training</h1>
                            <p class="lead">The IT Services Training Center offers instructor-led and web-based training along w/ quick reference and user guides for our products and services.</p>
                        </div>



                        <p>Training is typically scheduled to coincide with product installations or upgrades and new system rollouts and is highly customized based on the customer’s needs.</p>

                        <ul class="">
                            <li>Electronic Business Set (EBS)</li>
                            <li>Norstar</li>
                            <li>Voice over Internet Protocol (VoIP)</li>
                            <li>Voicemail</li>
                            <li>Automated Attendant (AA)</li>
                            <li>Automatic Call Distribution (ACD)</li>
                            <li>Uniform Call Distribution (UCD)</li>
                        </ul>

                        <h4>PHONE AND VOICE PRODUCTS AND SERVICES <small>(VoIP, EBS, Norstar, Voicemail, etc.)</small></h4>

                        <p><a href="#" class="btn-text">Quick Reference and User Guides</a></p>

                        <h4>ENTERPRISE MESSAGING TRAINING RESOURCES <small>(Office 365, Outlook, Enterprise Vault, Barracuda, and Lync)</small></h4>

                        <p><a href="#" class="btn-text">Enterprise Messaging Training</a></p>


                        <p class=" well">For additional information or inquiries, please email the Training Center at <a href="#">training@it.ucla.edu</a></p>


                    </div>

                </div>

                <div class="col-xl-3 pull-xl-9 col-lg-4 pull-lg-8 sidebar">

                    <div class="block">
                        <div class="block">
                            <nav class="nav-secondary">
                                <ul>
                                    <li class="">
                                        <a href="http://google.com">Overview</a>
                                        <ul>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a href="http://google.com">Tutorials &amp; FAQs</a>
                                        <ul>
                                        </ul>
                                    </li>
                                    <li class="expanded">
                                        <a href="http://google.com">Training Opportunities</a>
                                        <ul>
                                            <li class="active"><a href="http://google.com">Products &amp; Services Training</a></li>
                                            <li class=""><a href="http://google.com">Quick Reference &amp; User Guides</a></li>
                                            <li class=""><a href="http://google.com">Enterprise Messaging Training</a></li>
                                            <li class=""><a href="http://google.com">IT Services Training Center</a></li>
                                            <li class=""><a href="http://google.com">LearnIT</a></li>
                                            <li class=""><a href="http://google.com">Gartner</a></li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a href="http://google.com">Bruin Online</a>
                                        <ul>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a href="http://google.com">Contact Support</a>
                                        <ul>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>

                    <div class="block related-information">
                        <div class="block-content">
                            <h4>Related Information</h4>
                            <nav class="nav-list">
                                <ul class="">
                                    <li class=""><a href="#" class="">Electronic Business Set (EBS)</a></li>
                                    <li class=""><a href="#" class="">Norstar</a></li>
                                    <li class=""><a href="#" class="">Voice over Internet Protocol (VoIP)</a></li>
                                    <li class=""><a href="#" class="">Voicemail</a></li>
                                    <li class=""><a href="#" class="">Automated Attendant (AA)</a></li>
                                </ul>
                            </nav>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </section>
</div>
<!-- /#page-content -->

<div class="footer">
    <section class="calling-card">
        <div class="container">
            <div class="department-title">
                <h4>Information Technology Services</h4>
            </div>
            <span class="department-phone phone">(310) 825-8000</span>
            <a class="department-email" href="mailto:clientsupport@it.ucla.edu">clientsupport@it.ucla.edu</a>
            <div class="department-social">
                <a class="icon-circle sm" href="https://twitter.com/ucla_itsecurity" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="icon-circle sm" href="https://twitter.com/ucla_itsecurity" target="_blank"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </section>


    <section class="footer-cta">
        <div class="container">
            <div class="cta col-md-12 col-lg-4">
                <div class="cta-content">
                    <h4>New to UCLA</h4>
                    <p>Whether you are a student, faculty or staff member, or a guest visiting the UCLA campus, we have resources to help get you started.</p>
                </div>
                <a class="cta-button btn btn-default" href="http://yahoo.com">Get Started Now</a>

            </div>
            <div class="cta col-md-12 col-lg-4">
                <div class="cta-content">
                    <h4>Find Answers</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.</p>
                </div>
                <a class="cta-button btn btn-default" href="http://yahoo.com">View our Tutorials</a>

            </div>
            <div class="cta col-md-12 col-lg-4">
                <div class="cta-content">
                    <h4>Get Help</h4>
                    <p>Whether you want to order a service or need assistance solving a technical issue, IT Services Support is here for you.</p>
                </div>
                <a class="cta-button btn btn-default" href="http://yahoo.com">Open a Ticket</a>

            </div>
        </div>
    </section>

    <div class="global-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="global-logo">
                        <img src="/{{ directory }}/images/logo-ucla.png" alt="This is title text" title="This is title text">
                    </div>

                </div>

                <div class="col-md-6 offset-md-1">
                    <div class="global-copyright">
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p> -->
                        <p><a href="#">Privacy Policy</a> | <a href="http://www.ucla.edu/terms-of-use">Terms of Use</a> | <a href="http://www.ucla.edu">Go to UCLA.EDU</a></p>
                        <p>Copyright © 2016 UCLA - All Rights Reserved.</p>
                    </div>

                </div>

                <div class="col-md-3">
                    <div class="global-util">
                        <a class="back-to-top" href="#"><i class="fa fa-arrow-circle-up fa-5x"></i><br><small>Back to Top</small></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
