<nav class="nav-wrap">
    <div class="container">
        <ul class="nav-primary yamm nav navbar-nav">
            <li class="navbar-default__item">
                <a href="#" data-toggle="dropdown" class="dropdown nav-link navbar-default__link" aira-expanded="true">Employee Services <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu ">
                    <li><a href="#" class=" dropdown-menu__link">For Students</a></li>
                    <li><a href="#" class=" dropdown-menu__link">For Faculty &amp; Staff</a></li>
                    <li><a href="#" class=" dropdown-menu__link">For Guests</a></li>
                    <li><a href="#" class="btn btn-primary dropdown-menu__link">Get Started Now</a></li>
                </ul>

            </li>
            <li class="navbar-default__item">
                <a href="#" data-toggle="dropdown" class="dropdown nav-link navbar-default__link" aira-expanded="true">Work Tools <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu ">
                    <li><a href="#" class=" dropdown-menu__link">Accounts &amp; Access</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Networks &amp; Connectivity</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Email Calendaring &amp; Collaboration</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Enterprise Applications</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Support &amp; Training</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Platforms &amp; Infrastructure</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Business Intelligence &amp; Reporting</a></li>
                    <li><a href="#" class=" dropdown-menu__link">IT Security</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Phone, TV &amp; Radio</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Web Development &amp; Hosting</a></li>
                    <li><a href="#" class="btn btn-primary dropdown-menu__link">Browse by Category</a></li>
                    <li><a href="#" class="btn btn-primary dropdown-menu__link">All Services (A-Z)</a></li>
                </ul>

            </li>
            <li class="navbar-default__item">
                <a href="#" data-toggle="dropdown" class="dropdown nav-link navbar-default__link" aira-expanded="true">News <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu ">
                    <li><a href="#" class=" dropdown-menu__link">Tutorials &amp; FAQs</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Training Opportunities</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Bruin Online</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Contact Support</a></li>
                    <li><a href="#" class="btn btn-primary dropdown-menu__link">Support &amp; Training Overview</a></li>
                </ul>

            </li>
            <li class="navbar-default__item">
                <a href="#" data-toggle="dropdown" class="dropdown nav-link navbar-default__link" aira-expanded="true">Administrative Units <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu ">
                    <li><a href="#" class=" dropdown-menu__link">IT Resources @ UCLA</a></li>
                    <li><a href="#" class=" dropdown-menu__link">About IT Services</a></li>
                    <li><a href="#" class=" dropdown-menu__link">IT Policies &amp; Practices</a></li>
                    <li><a href="#" class="btn btn-primary dropdown-menu__link">IT @ UCLA Overview</a></li>
                </ul>

            </li>
            <li class="navbar-default__item">
                <a href="#" data-toggle="dropdown" class="dropdown nav-link navbar-default__link" aira-expanded="true">Contact Us <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu ">
                    <li><a href="#" class=" dropdown-menu__link">Tools &amp; Services</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Resources</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Policies</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Alerts</a></li>
                    <li><a href="#" class=" dropdown-menu__link">Contact</a></li>
                    <li><a href="#" class="btn btn-primary dropdown-menu__link">IT Security Overview</a></li>
                </ul>

            </li>
        </ul>

    </div>
</nav>