<div class="juice">

    <div class="page-header  ">
        <h1 class="false">Products &amp; Services Training</h1>
        <p class="lead">The IT Services Training Center offers instructor-led and web-based training along w/ quick reference and user guides for our products and services.</p>
    </div>



    <p>Training is typically scheduled to coincide with product installations or upgrades and new system rollouts and is highly customized based on the customer’s needs.</p>

    <ul class="">
        <li>Electronic Business Set (EBS)</li>
        <li>Norstar</li>
        <li>Voice over Internet Protocol (VoIP)</li>
        <li>Voicemail</li>
        <li>Automated Attendant (AA)</li>
        <li>Automatic Call Distribution (ACD)</li>
        <li>Uniform Call Distribution (UCD)</li>
    </ul>

    <h4>PHONE AND VOICE PRODUCTS AND SERVICES <small>(VoIP, EBS, Norstar, Voicemail, etc.)</small></h4>

    <p><a href="#" class="btn-text">Quick Reference and User Guides</a></p>

    <h4>ENTERPRISE MESSAGING TRAINING RESOURCES <small>(Office 365, Outlook, Enterprise Vault, Barracuda, and Lync)</small></h4>

    <p><a href="#" class="btn-text">Enterprise Messaging Training</a></p>


    <p class=" well">For additional information or inquiries, please email the Training Center at <a href="#">training@it.ucla.edu</a></p>


</div>