<div class="navbar-header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="/{{ directory }}/images/logo-ucla-its.png" alt="Alt Text"></a>

</div>