<section class="calling-card">
    <div class="container">
        <div class="department-title">
            <h4>Information Technology Services</h4>
        </div>
        <span class="department-phone phone">(310) 825-8000</span>
        <a class="department-email" href="mailto:clientsupport@it.ucla.edu">clientsupport@it.ucla.edu</a>
        <div class="department-social">
            <a class="icon-circle sm" href="https://twitter.com/ucla_itsecurity" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="icon-circle sm" href="https://twitter.com/ucla_itsecurity" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</section>


<section class="footer-cta">
    <div class="container">
        <div class="cta col-md-12 col-lg-4">
            <div class="cta-content">
                <h4>New to UCLA</h4>
                <p>Whether you are a student, faculty or staff member, or a guest visiting the UCLA campus, we have resources to help get you started.</p>
            </div>
            <a class="cta-button btn btn-default" href="http://yahoo.com">Get Started Now</a>

        </div>
        <div class="cta col-md-12 col-lg-4">
            <div class="cta-content">
                <h4>Find Answers</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.</p>
            </div>
            <a class="cta-button btn btn-default" href="http://yahoo.com">View our Tutorials</a>

        </div>
        <div class="cta col-md-12 col-lg-4">
            <div class="cta-content">
                <h4>Get Help</h4>
                <p>Whether you want to order a service or need assistance solving a technical issue, IT Services Support is here for you.</p>
            </div>
            <a class="cta-button btn btn-default" href="http://yahoo.com">Open a Ticket</a>

        </div>
    </div>
</section>

<div class="global-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="global-logo">
                    <img src="/{{ directory }}/images/logo-ucla.png" alt="This is title text" title="This is title text">
                </div>

            </div>

            <div class="col-md-6 offset-md-1">
                <div class="global-copyright">
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p> -->
                    <p><a href="#">Privacy Policy</a> | <a href="http://www.ucla.edu/terms-of-use">Terms of Use</a> | <a href="http://www.ucla.edu">Go to UCLA.EDU</a></p>
                    <p>Copyright © 2016 UCLA - All Rights Reserved.</p>
                </div>

            </div>

            <div class="col-md-3">
                <div class="global-util">
                    <a class="back-to-top" href="#"><i class="fa fa-arrow-circle-up fa-5x"></i><br><small>Back to Top</small></a>
                </div>

            </div>
        </div>
    </div>
</div>