<div class="block">
    <div class="block">
        <nav class="nav-secondary">
            <ul>
                <li class="">
                    <a href="http://google.com">Overview</a>
                    <ul>
                    </ul>
                </li>
                <li class="">
                    <a href="http://google.com">Tutorials &amp; FAQs</a>
                    <ul>
                    </ul>
                </li>
                <li class="expanded">
                    <a href="http://google.com">Training Opportunities</a>
                    <ul>
                        <li class="active"><a href="http://google.com">Products &amp; Services Training</a></li>
                        <li class=""><a href="http://google.com">Quick Reference &amp; User Guides</a></li>
                        <li class=""><a href="http://google.com">Enterprise Messaging Training</a></li>
                        <li class=""><a href="http://google.com">IT Services Training Center</a></li>
                        <li class=""><a href="http://google.com">LearnIT</a></li>
                        <li class=""><a href="http://google.com">Gartner</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="http://google.com">Bruin Online</a>
                    <ul>
                    </ul>
                </li>
                <li class="">
                    <a href="http://google.com">Contact Support</a>
                    <ul>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

</div>

<div class="block related-information">
    <div class="block-content">
        <h4>Related Information</h4>
        <nav class="nav-list">
            <ul class="">
                <li class=""><a href="#" class="">Electronic Business Set (EBS)</a></li>
                <li class=""><a href="#" class="">Norstar</a></li>
                <li class=""><a href="#" class="">Voice over Internet Protocol (VoIP)</a></li>
                <li class=""><a href="#" class="">Voicemail</a></li>
                <li class=""><a href="#" class="">Automated Attendant (AA)</a></li>
            </ul>
        </nav>

    </div>
</div>